
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');





html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka'; 
  background-image: url('https://cdn.pixabay.com/photo/2016/10/10/11/09/field-1728099_1280.jpg');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  background-color: lightblue;
  margin: 10px;
}
.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.cat {
  font-size: 60px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.btn-cat {
  padding: 10px 20px;
  font-family: 'Fredoka';
  font-size: 16px;
  color: white;
  background-color: lightcoral;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-cat:hover {
  background-color: #ff4500;
}

.btn-cat:active {
  background-color: #e63900;
}